<!DOCTYPE html>
<html>
<link rel="stylesheet" href="static/visuals.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-grid.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ag-grid-community/styles/ag-theme-quartz.css">
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@32.2.1/dist/ag-grid-community.min.js"></script>

<head>
    <title>Billing Dashboard</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<header>
    <div style="display: flex; justify-content: space-between; margin: 0; padding: 0;">
        <div style="display: flex; margin: 0; padding: 0;">
            <a href="/"><img src="static/ConserviceLogo.png" alt="Conservice Logo" id="conservice-logo"></a>
        </div>
        <h1 style="margin: 0">Billing Dashboard</h1>
        <div style="display: flex; margin: 0; padding: 0;">
            <h1 style="margin: 0;">Current PM: {{ current_post_month.strftime('%m/%d/%Y') }}</h1>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; text-align: center;">
        <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
        <h2 class="page-title-header">{{ title }}</h2>
        <div style="margin-top: auto; margin-bottom: auto;">
            <input type="textarea" id="global-search" placeholder="Not Working ATM" value="{{ request.args.get('q', '')}}"
                oninput="debouncedSearch(this.value)">
            {% if request.args.get('q') %}
            <span onclick="clearSearch()"
                style="position: absolute; right: 50px; cursor: pointer; color: #f70909; font-weight: bold; font-size: 18px;"
                title="Clear Search">&times;</span>
            {% endif %}
        </div>
    </div>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
        <a href="/">Home</a>
        <a href="/workspace">Workspace</a>
        <a href="/billing_summary">Billing Summary</a>
        <button class="dropdown-btn">Leadership <span class="nav-caret">&#9660;</span></button>
        <div class="dropdown-container">
            <a href="/leadership_tools">Leadership Tools</a>
            <a href="/imports">Imports</a></li>
        </div>
        <a href="/table_view">Table View</a>
        <a href="/progress_report">Progress Report</a>
    </div>
</header>


<div class="container">
    {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/table-logic.js') }}" defer></script>

{% block scripts %}{% endblock %}

<footer>Sincerely - MattieBoi</footer>

</html>