<!DOCTYPE html>
<html>
{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash-message flash-{{ category }}">
            {{ message }}
            <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

<p>Upload a CSV file to import new data</p>

<div class="import-sections">
    <div>
        <details name="import">
            <summary id="leadership-tools"><strong>Monthly Team Member Hours</strong></summary>
            <div style="padding: 10px; margin-top: 5px;">
                <form action="/imports" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="target_table" value="Monthly Hours">
                    <a href="{{ url_for('static', filename='Import_CSV_Templates/TeamMember_CSV_TEMPLATE.csv') }}" 
                    download="TeamMember_Template.csv" 
                    style="margin-right: 50px; font-size: 14px;">
                    Download Template File</a>
                    <label>Upload File:</label>
                    <input type="file" name="file" accept=".csv, .xlsx" required>
                    <input type="date" id="monthly_hours_pm" name="monthly_hours_pm">
                    <button type="submit" style="margin-top: 5px;">Import Monthly Hours</button>
                </form>
        </details>
    </div>
    <div>
        <details name="import">
            <summary id="leadership-tools"><strong>1. Add Team Members</strong></summary>
            <div style="padding: 10px; margin-top: 5px;">
                <form action="/imports" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="target_table" value="Team Member">
                    <a href="{{ url_for('static', filename='Import_CSV_Templates/TeamMember_CSV_TEMPLATE.csv') }}" 
                    download="TeamMember_Template.csv" 
                    style="margin-right: 50px; font-size: 14px;">
                    Download Template File</a>
                    <label>Upload File:</label>
                    <input type="file" name="file" accept=".csv, .xlsx" required>
                    <button type="submit" style="margin-top: 5px;">Import Team Members</button>
                </form>
        </details>

        <details name="import">
            <summary id="leadership-tools"><strong>2. Add Management Companies</strong></summary>
            <div style="padding: 10px; border: 1px solid #eee; margin-top: 5px;">
                <form action="/imports" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="target_table" value="Management Company">
                    <a href="{{ url_for('static', filename='Import_CSV_Templates/MgmtCo_CSV_TEMPLATE.csv') }}" 
                    download="ManagementCompany_Template.csv" 
                    style="margin-right: 50px; font-size: 14px;">
                    Download Template File</a>
                    <label>Upload File:</label>
                    <input type="file" name="file" accept=".csv, .xlsx" required>
                    <button type="submit">Import Management Companies</button>
                </form>
        </details>

        <details name="import">
            <summary id="leadership-tools"><strong>3. Add Market Rules</strong></summary>
            <div style="padding: 10px; border: 1px solid #eee; margin-top: 5px;">
                <form action="/imports" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="target_table" value="Market Rules">
                    <a href="{{ url_for('static', filename='Import_CSV_Templates/MarketRules_CSV_TEMPLATE.csv') }}" 
                    download="MarketRules_Template.csv" 
                    style="margin-right: 50px; font-size: 14px;">
                    Download Template File</a>
                    <label>Upload File:</label>
                    <input type="file" name="file" accept=".csv, .xlsx" required>
                    <button type="submit">Import Market Rules</button>
                </form>
        </details>

        <details name="import">
            <summary id="leadership-tools"><strong>4. Add Leases</strong></summary>
            <div style="padding: 10px; border: 1px solid #eee; margin-top: 5px;">
                <form action="/imports" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="target_table" value="Leases">
                    <a href="{{ url_for('static', filename='Import_CSV_Templates/LeaseID_CSV_TEMPLATE.csv') }}" 
                    download="LeaseID_Template.csv" 
                    style="margin-right: 50px; font-size: 14px;">
                    Download Template File</a>
                    <label>Upload File:</label>
                    <input type="file" name="file" accept=".csv, .xlsx" required>
                    <button type="submit">Import Leases</button>
                </form>
        </details>

        <details name="import">
            <summary id="leadership-tools" ><strong>5. Add Homes</strong></summary>
            <div style="padding: 10px; border: 1px solid #eee; margin-top: 5px;">
                <form action="/imports" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="target_table" value="Home">
                    <a href="{{ url_for('static', filename='Import_CSV_Templates/Home_CSV_TEMPLATE.csv') }}" 
                    download="Home_Template.csv" 
                    style="margin-right: 50px; font-size: 14px;">
                    Download Template File</a>
                    <label>Upload File:</label>
                    <input type="file" name="file" accept=".csv, .xlsx" required>
                    <button type="submit">Import Homes</button>
                </form>
        </details>

        <details name="import">
            <summary id="leadership-tools"><strong>6. Add Residents</strong></summary>
            <div style="padding: 10px; border: 1px solid #eee; margin-top: 5px;">
                <form action="/imports" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="target_table" value="Resident">
                    <a href="{{ url_for('static', filename='Import_CSV_Templates/NewResident_CSV_TEMPLATE.csv') }}" 
                    download="NewResident_Template.csv" 
                    style="margin-right: 50px; font-size: 14px;">
                    Download Template File</a>
                    <label>Upload File:</label>
                    <input type="file" name="file" accept=".csv, .xlsx" required>
                    <button type="submit">Import Residents</button>
                </form>
        </details>
        <p>***FORMAT NOTES:<br>
            Dates: YYYY-MM-DD<br>
            Fees/Currency: XX.xx(no dollar sign)<br>
            Utilities: Abbreviations (i.e. W/S/T/E/G)
        </p>
    </div>
</div>
</form>
{% endblock %}